<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-1"> 
      <img src="<%= message.user.photo %>" class="card-img" style="object-fit: cover; object-position: 0 0;"/>
    </div>
    <div class="col-md-11"> 
      <div class="card-body">
        <%= link_to user_path(message.user.username) do %>
          <h4 class="card-title"><%= message.user.first_name %> <%= message.user.last_name %></h4>
        <% end %>
        <p class="card-text"><%= message.content %></p>
      </div>
    </div>
  </div>
</div>
