<div id="<%= dom_id bout %>">
  <p>
    <strong>Red corner:</strong>
    <%= bout.red_corner_id %>
  </p>

  <p>
    <strong>Blue corner:</strong>
    <%= bout.blue_corner_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= bout.event_id %>
  </p>

  <p>
    <strong>Weight class:</strong>
    <%= bout.weight_class_id %>
  </p>

</div>
