<%= form_with(model: [@event, bout], local: true) do |form| %>
  <% if bout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bout.errors.count, "error") %> prohibited this bout from being saved:</h2>

      <ul>
        <% bout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!--%= form.label :red_corner_id, style: "display: block" %-->
    <%= form.hidden_field :red_corner_id, :value => current_user.id%>
  </div>
<!--
  <div>
    <%= form.label :blue_corner_id, style: "display: block" %>
    <%= form.hidden_field :blue_corner_id, :value => nil%>
  </div>
-->
  <div>
    <!--%= form.label :event_id, style: "display: block" %-->
    <%= form.hidden_field :event_id, :value => @event.id %>
  </div>

  <div>
    <!--%= form.label :weight_class_id, style: "display: block" %-->
    <%= form.hidden_field :weight_class_id, :value => current_user.weight_class_id %>
  </div>

 <p>By clicking agree. You consent to taking a random opponent</p>
  <div>
    <%= form.submit "Agree" %>
  </div>
<% end %>
