<div class="fighter_page container mt-5 fence-background">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag @user.photo, class: "fighter_image img-fluid rounded-circle", alt: "#{@user.username}-photo" %>
    </div>
    <div class="col-md-8">
      <div class="fighter_info">
        <h2 class="fw-bold"><%= @user.first_name %> <%= @user.last_name %></h2>
        <p class="fs-5"><%= @user.weight %> lbs</p>
        <p class="fs-5">Reach: <%= @user.reach %></p>
        <p class="fs-5">Height: <%= @user.height %></p>
        <h3 class="mt-4">Upcoming Bouts</h3>
        <% @user.bouts.each do |bout| %>
          <% if bout.event.time.future? %>
            <%= link_to event_path(bout.event.id), class: 'text-decoration-none' do %>
              <div class="bout_info p-2 my-2 bg-light border rounded">
                <%= bout.event.title %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <h3 class="mt-4">Previous Bouts</h3>
        <% @user.bouts.each do |bout| %>
          <% if bout.event.time.past? %>
            <%= link_to event_path(bout.event.id), class: 'text-decoration-none' do %>
              <div class="bout_info p-2 my-2 bg-light border rounded">
                <%= bout.event.title %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
