<div class="fighters_page">
  <% @bouts.each do |bout| %>
    <!--TODO: Conditional if user is fighter or not-->
    <%= link_to user_path(bout.red_corner_fighter.username) do %>
    <div class="fighter_card">
      <%= bout.event.title %>
      <h2><%= bout.red_corner_fighter.first_name %> <%= bout.red_corner_fighter.last_name %></h2> 
      <%= image_tag bout.red_corner_fighter.photo_url, class: "fighter_image", alt: "#{bout.red_corner_fighter.username}-photo" %>
      
    </div>
    <% end %>
  <% end %>
</div>
