<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <!-- Event Image -->
      <img src="https://www.foxsports.com.au/pmd/images/2023/09/10/866078_640x360_large_20230910141723.jpg" class="img-fluid mb-4">

      <!-- Event Title and Price -->
      <div class="d-flex justify-content-between mb-3">
        <h2><%= @event.title %></h2>
        <h2>$<%= @event.price %> Entry</h2>
      </div>

      <!-- Event Time and Date -->
      <div class="d-flex justify-content-between mb-3">
        <h3><%= @event.time.strftime("%a, %b %e, %Y") %></h3>
        <h3><%= @event.time.strftime("%l:%M %p") %></h3>
      </div>

      <!-- Event Venue and Registration Button -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3><%= @event.venue.name %></h3>
        <%= link_to 'Register', new_event_bout_path(@event), class: 'btn btn-primary' %>
      </div>

      <!-- Event Bio -->
      <p class="mb-4"><%= @event.bio %></p>

      <!-- Bouts Section -->
      <h3 class="mb-3">Bouts</h3>
      <% @event.bouts.each do |bout| %>
        <%= render partial: "bouts/bout", locals: { bout: bout } %>
      <% end %>
    </div>
  </div>


<h3>Messages</h3>

  <% @event.messages.each do |message| %>

    <%= render partial:"shared/message", locals: { message: message} %>
  <% end %>
  
<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>

</div>
