<p style="color: green"><%= notice %></p>

<%= render @event %>

<h3>Messages</h3>

  <% @event.messages.each do |message| %>
    <%= link_to user_path(message.user.username) do %>
      <%= message.user.first_name %> <%=message.user.last_name %>
    <% end %>
    <%= message.content%>
  <% end %>
  
<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
